.wra {
    width: 500px;
    margin: 100px  auto 0px; 
    border: 1px solid #d7d7d7;
    padding: 10px 15px;
    border-radius: 5px;
}

.wra .wraTop{
    margin-top: 10px;
    margin-bottom: 10px;
}
.wra .wraTop input{
    width: 240px;
    height: 20px;
    outline: none;
    border:1px solid #d7d7d7;
    padding-left: 10px;
    border-radius: 5px;
}

.wra .wraTop .sex{
   display:inline-block;
}

.wra .wraTop .btn{
    display: inline-block;
    height: 18px;
    margin-left: 10px;
    cursor:pointer;
    line-height:18px;
    padding: 1px 2px;
    border-radius: 2px;
}

.wra .wraTop .btn.default{
    color: #fff;
    background-color: rgb(77, 199, 247);
}

/* bottom */

.data-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}

.wra .wraBottom ul li{
    position: relative;
    margin-bottom:15px;
    border-bottom: 1px solid rgb(245, 242, 242);
    padding: 10px 0px 10px 50px;
}
.wra .wraBottom ul li img{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 40px;
    height: 40px;
}

.wra .wraBottom ul li span{
    display: inline-block;
    margin: 5px 0;
}

.wra .wraBottom ul li .des{
    color: rgb(228, 95, 95);
    font-size: 10px;
}

.categories .btn{
    background-color: rgb(173, 171, 171);
}
.categories .btn.default{
    background-color: rgb(121, 119, 119);
}

.title{
   font-size:36px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin-top: 40px;
}

.gsc-image-content.skin-v3 {
    position: relative;
}

.gsc-image-content.skin-v3 .content {
    background: var(--krowd-theme-color-second);
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    max-width: 280px;
    padding: 30px 45px 20px;
    font-size: 18px;
    text-align: left;
}
.gsc-image-content.skin-v3 .title {
    font-size: 40px;
    line-height: 30px;
    color: var(--krowd-theme-color-three);
    margin: 0 0 10px;
}