

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all .3s;
  left: -30px;
}
.item-bg.active {
  left: 0;
  top: 0;
  opacity: 1;
}

.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (max-width: 1600px) {
  .news-slider {
    max-width: 1300px;
  }
}
@media screen and (max-width: 576px) {
  .news-slider {
    margin-top: 45px;
    max-width: 576px;
  }
}
.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  width: 33%;
}
.news-slider__item {
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 340px;
  }
}
.news-slider__item.swiper-slide {
  opacity: 0;
  width:32%;
  pointer-events: none;
  transition: all .3s;
}
.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
  opacity: 0.9;
  pointer-events: auto;
}
.news-slider__ctr {
  position: relative;
  z-index: 12;
}
.news-slider__arrow {
  background: #fff;
  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}
.news-slider__arrow:focus {
  outline:rgb(39, 39, 38);
}
.news-slider__arrow .icon-font {
  display: inline-flex;
}
.news-slider__arrow.news-slider-prev {
  left: 10%;
  transform: translateY(-50%);
}
.news-slider__arrow.news-slider-next {
  right: 10%;
  transform: translateY(-50%);
}
.news-slider__pagination {
  text-align: center;
  margin-top: 50px;
}
.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: rgb(39, 52, 61);
  opacity: .2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity .5s, background-color .5s, width .5s;
  transition-delay: .5s, .5s, 0s;
}
.news-slider__pagination .swiper-pagination-bullet-active {
  background: #aca7a7;
  width: 40px;
  transition-delay: 0s;
}
@media screen and (max-width: 576px) {
  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }
}
.card:hover{
  box-shadow: 0 3px 3px #747373, 0 3px 3px #797676;
}

.news__item {
  padding: 30px;
  color: #fff;
  border-radius: 10px;
  display: block;
  transition: all .3s;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #000000;
    transition-delay: .1s;
  }
  .news__item:hover .news-date, .news__item:hover .news__title, .news__item:hover .news__txt {
    opacity: 0.95;
    transition-delay: .1s;
  }
  .news__item:hover .news__img {
    box-shadow: none;
    margin-top: -5px;
  }

}
.news__item:hover hr{
  background-color: #58095f;
  width:97%;
  transition: all 0.6s;
}
.news__item.active {
  color: #252424;
}
.news__item.active .news-date, .news__item.active .news__title, .news__item.active .news__txt {
  opacity: 0.95;
}
.news__item.active .news__img {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .news__item {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .news__item {
    padding: 20px;
  }
}

.news__item hr{
  background-color: #325a7a;
  border: 0;
  margin-top:6px;
  height:3px;
  width:60px;
}
.news-date {
  padding-bottom: 2px;
  margin-bottom: 2px;
  display: inline-block;
  opacity: .8;
  transition: opacity .3s;
}
@media screen and (max-width: 576px) {
  .news-date {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.news-date__title {
  color: #000000;
  display: block;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: -5px;
  font-family: Poppins-bold, sans-serif;
  font-weight: 500;
  line-height: 1.35;
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-right: 10px;
  }
}
.news-date__txt {
  font-size: 16px;
}
.news__title {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  opacity: .85;
  margin-top:-4px;
  line-height: 1.1;
  transition: opacity .3s;
}

.project-tag {
  position: relative;
  background: #55198b;
  margin-top: -10px;
  color: #f5f2f4;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 16px;
  height: 26px;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.2;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: .2s ease-in;
  font-family: Poppins,sans-serif;
}

@media screen and (max-width: 993px) {
  .news-date__title {
    font-size: 17px;
  }
  .project-tag {
    font-size: 16px;
    height: 24px;
  }
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-bottom: -12px;
    font-size: 17px;
  }
  .project-tag {
    font-size: 14px;
    height: 24px;
  }
}
.news__txt {
  color: #333232;
  margin: 10px 0;
  line-height: 1.2;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: .0.75;
  text-align:left;
  transition: opacity .3s;
}
.news__img {
  display: flex;
  border-radius: 10px;
  margin-top: -5px;
  align-items: center;
  vertical-align: middle;
  transition: all .3s;
  transform-origin: 0% 0%;
  height: 220px;
}
@media screen and (max-width: 576px) {
  .news-slider__item.swiper-slide {
    width: 100% !important;
  }
  
  .news__img {
    height: 180px;
    margin-top: 20px;
  }
}
.news__img img {
  border-radius: 10px;
  width: 100%;
}
#icon{
  display:none;}
  
@media screen and (max-width: 768px){
  
  .news-slider__item.swiper-slide {
    width: 70%;
  }
  .news__txt{
      font-size: 16px;
  }
}

  
@media screen and (min-width: 1440px){
  
  .news__txt{
      font-size: 20px;
  }
}


.tiles-wrap {
  margin: 0 5px;
  position: relative;
  overflow: hidden;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.tiles-wrap .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tiles-wrap .text {
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.tiles-wrap .text .cta.btn.white {
  font-size: 24px;
  letter-spacing: 1px;
}

.cta.btn.white, .cta.btn.white:hover {
  border: 2px solid #fff;
  color: #fff;
}

.cta.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  padding: 17px 20px 13px 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}