<div class="news">
    <% if (theme.news.showTitle) { %>
    <div class="title center-align">
        &nbsp;&nbsp;<%= theme.news.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
            <%= theme.news.text %>
        </div>
    </div>
</div>
