<% if (is_home() && page.current === 1) { %>
<%- partial('_partial/index-cover') %>
<% } else { %>
    <%- partial('_partial/bg-cover') %>
<% } %>
<%- partial('_partial/bg-video') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link href="../source/css/style.css" type="text/css" rel="stylesheet" />



    <section class="intro" style="background-color: #f1f6f7;">
    <div class="container" id="sec-start">
        <div class="row">
            <div class="col s12 m12 l12">
                <br><br>
                <div class="title center-align" style="margin-bottom: -40px;">
                <i class="far fa-lightbulb" style="color: rgb(71, 113, 168);margin-top: 40px;font-size:48px"><span style="font-family: Poppins-bold,sans-serif;font-weight:600;font-size: 54px;">&nbsp Platform Information</span></i>
                </div>
                <br><br><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l7">
                <p style="margin-top: 0px;">"Nation-wide Community-based Mobile Edge Sensing and Computing Testbeds" is a collaborative platform to build a large-scale, mobile edge sensing and computing infrastructure to provide practical experimental environments, rich user tools and services, and data/model sharing. Our project is supported by the US National Science Foundation CISE Community Infrastructure (CCRI) Award.
                </p>
                
                
                <img src="/medias/images/logo/nsf-small.png" width="110px" draggable="false">
            </div>
                <div class="col s12 m12 l5" style="text-align: center;margin-top: -10px;">
                  <img src="/medias/images/logo/Logo-Rutgers-University.png" width="232px" draggable="false">
                  <img src="/medias/images/logo/nyit-l.png" width="190px" draggable="false">
                  <img src="/medias/images/logo/TempleLogo.png" width="230px" draggable="false">
                  <img src="/medias/images/logo/GeorgeMason.png" width="190px" draggable="false">
                </div>
                
        </div>

        

<br><br><br>
    </div>
    </section>
<section class="intro" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <br><br>
                <h1 style="font-weight: 600;line-height: normal;text-align: center;">Platform Statistics</h1>
                <br>
                <p style="font-size: 20px;margin-top: -1px;">
                  The platform contains datasets collected from WiFi, RFID, PPG, vibration, mmWave, and acoustic sensors. It also provides APIs for various sensing applications.</p>
                <br><br>
            </div>
        </div>
        <div class="row" data-aos="fade-up" id="statistic">
            <div class="col s12 m3 l3" style="align-items: center;text-align: center;">
                <img src="/medias/images/logo/dataset.png" height="120px" draggable="false">

            <h2 id="dataset" style="font-size: 60px;text-align: center;margin-top: -1px;">
                0
            </h2>
            <p style="font-size: 22px;text-align: center;margin-top: -20px;font-family: Arial, Helvetica, sans-serif;">
                Datasets
            </p>
            </div>
            <div class="col s12 m3 l3" style="align-items: center;text-align: center;">
                <img src="/medias/images/logo/API.png" height="120px" draggable="false">

            <h2 id="api" style="font-size: 60px;text-align: center;margin-top: -1px;">
                0
            </h2>
            <p style="font-size: 22px;text-align: center;margin-top: -20px;font-family: Arial, Helvetica, sans-serif;">
                APIs
            </p>
            </div>
            <div class="col s12 m3 l3" style="align-items: center;text-align: center;">
                <img src="/medias/images/logo/tutorial.png" height="120px" draggable="false">

            <h2 id="tutorial" style="font-size: 60px;text-align: center;margin-top: -1px;">
                0
            </h2>
            <p style="font-size: 22px;text-align: center;margin-top: -20px;font-family: Arial, Helvetica, sans-serif;">
                Tutorials
            </p>
            </div>
            <div class="col s12 m3 l3" style="align-items: center;text-align: center;">
                <img src="/medias/images/logo/contributor.png" height="120px" draggable="false">

            <h2 id="contributors" style="font-size: 60px;text-align: center;margin-top: -1px;">
                0
            </h2>
            <p style="font-size: 22px;text-align: center;margin-top: -20px;font-family: Arial, Helvetica, sans-serif;">
                Contributors
            </p>
            </div>
        </div>


<br><br><br>
    </div>
</section>
    

<section class="intro" style="background-color: #e9eff1;">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <br><br><br>
                <h1 style="font-weight: 600;line-height: normal;text-align: center;">News</h1>
                <br><br>
            </div>
        </div>
        <div class="row" style="margin-top: -40px;" data-aos="fade-up">
            <div class="col s12 m12 l12">
                <div class="wrapper" style="margin-top: -60px;">
                    <div class="news-slider">
                      <div class="news-slider__wrp swiper-wrapper">
                        <div class="news-slider__item swiper-slide">
                            
                    <div class="card">
                          <a href="#" class="news__item">
                            <div class="news__img">
                                <img src="/medias/images/data&APIs/RFID_BioTag.png" alt="news" />
                              </div>
                            <div class="news-date">
                              <span class="news-date__title">Feb. 2 2023</span>
                            </div>
                            <div class="news__title">BioTag<br /><span style="font-size: 19px;">RFID-based User Verification</div>
              
                            <p class="news__txt">
                              BioTag is an RFID dataset originally collected for continuous user authentication based on unique biometrics in human respiration patterns. This dataset contains RFID raw data samples collected from two RFID tags attached to the chest and abdomen of 10 participants.
                             </p>
              
                            
                          </a>
                        </div>
                      </div>
              
                      </div>
              
                      <div class="news-slider__ctr">
                        <div class="news-slider__arrows">
                          <button class="news-slider__arrow news-slider-prev">
                            <span class="icon-font">
                              <svg class="icon icon-arrow-left">
                                <use xlink:href="#icon-arrow-left"></use>
                              </svg>
                            </span>
                          </button>
                          <button class="news-slider__arrow news-slider-next">
                            <span class="icon-font">
                              <svg class="icon icon-arrow-right">
                                <use xlink:href="#icon-arrow-right"></use>
                              </svg>
                            </span>
                          </button>
                        </div>
              
                        <div class="news-slider__pagination"></div>
                      </div>
                    </div>
                  </div>
              
                  <svg hidden="hidden" id="icon">
                    <defs>
                      <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                        <title>arrow-left</title>
                        <path
                          d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"
                        ></path>
                      </symbol>
                      <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                        <title>arrow-right</title>
                        <path
                          d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"
                        ></path>
                      </symbol>
                    </defs>
                  </svg>
              
            </div>
        </div>


<br><br><br>
    </div>
</section>

<script> 
 var arr=[
    {class:'1',category:"PPG", application:"Recognition", src: "/medias/featureimages/13.jpg", href: "/Data&APIs/index.html",subtitle: "introduction",name:"name",introduction:"BioTag RFID dataset is initially collected for continuous user verification. The dataset contains raw RFID samples from two RFID tags attached to the chest and abdomen of 10 participants. The RFID samples capture users' unique physiological characteristics, such as heartbeat and respiration patterns.",short_introduction:"BioTag is an RFID dataset originally collected for continuous user authentication based on unique biometrics in human respiration patterns. This dataset contains RFID raw data samples collected from two RFID tags attached to the chest and abdomen of 10 participants."},
    {class:'1',category:"RFID", application:"Recognition", src: "/medias/images/data&APIs/RFID_BioTag.png", date:'Feb.2 2023', href: "https://zenodo.org/record/7466946#.Y96Qa3aZMSE",subtitle: "RFID-based User Verification",name:"BioTag",introduction:"BioTag RFID dataset is initially collected for continuous user verification. The dataset contains raw RFID samples from two RFID tags attached to the chest and abdomen of 10 participants. The RFID samples capture users' unique physiological characteristics, such as heartbeat and respiration patterns.",short_introduction:"BioTag is an RFID dataset originally collected for continuous user authentication based on unique biometrics in human respiration patterns. This dataset contains RFID raw data samples collected from two RFID tags attached to the chest and abdomen of 10 participants."},
    {class:'1',category:"WiFi", application:"Authentication", src: "/medias/featureimages/13.jpg", href: "#",introduction: "introduction",name:"name",introduction:"BioTag RFID dataset is initially collected for continuous user verification. The dataset contains raw RFID samples from two RFID tags attached to the chest and abdomen of 10 participants. The RFID samples capture users' unique physiological characteristics, such as heartbeat and respiration patterns.",short_introduction:"BioTag is an RFID dataset originally collected for continuous user authentication based on unique biometrics in human respiration patterns. This dataset contains RFID raw data samples collected from two RFID tags attached to the chest and abdomen of 10 participants."},
    {class:'1',category:"Vibration", application:"Authentication", src: "/medias/featureimages/13.jpg", href: "#",introduction: "introduction",name:"name",introduction:"BioTag RFID dataset is initially collected for continuous user verification. The dataset contains raw RFID samples from two RFID tags attached to the chest and abdomen of 10 participants. The RFID samples capture users' unique physiological characteristics, such as heartbeat and respiration patterns.",short_introduction:"BioTag is an RFID dataset originally collected for continuous user authentication based on unique biometrics in human respiration patterns. This dataset contains RFID raw data samples collected from two RFID tags attached to the chest and abdomen of 10 participants."},
    {class:'1',category:"mmWave", application:"Authentication", src: "/medias/featureimages/13.jpg", date:'Feb.6 2023', href: "#",subtitle: "MmWave-based Activity Recognition",name:"mmWave",introduction:"The mmWave-based activity dataset is used for people daily activity recognition. It contains two sub-datasets. The first dataset (FA Dataset) contains 14 common daily activities. This second one (EA Dataset) contains 5 kinds of eating activities. The data are all captured by the mmWave radar TI-AWR1642. We develop spatial-temporal heatmaps to extract motion features from raw mmWave signal. Our dataset can be used by fellow researchers to reproduce the original work or to further explore other machine-learning problems in the domain of mmWave signals.",home_introduction:"BioTag is an RFID dataset originally collected for continuous user authentication based on unique biometrics in human respiration patterns. This dataset contains RFID raw data samples collected from two RFID tags attached to the chest and abdomen of 10 participants."},
    {class:'1',category:"Acoustic", application:"Authentication", src: "/medias/featureimages/13.jpg", href: "#",introduction: "introduction",name:"name"},
    {class:'2',category:"RFID", application:"Authentication", src: "/medias/featureimages/12.jpg", href: "#",introduction: "introduction",name:"name"},
    {class:'2',category:"PPG", application:"Recognition", src: "/medias/featureimages/12.jpg", href: "#",introduction: "introduction",name:"name"},
 ]
 var num_data=0;
 var num_api=0;
 var num_tutorial=1;
 var num_contributor=9;
 var time_duration=3000;
 for(var i = 0; i < arr.length; i++){
    if(arr[i].class=='1'){
        num_data+=1;
    }else{
        num_api+=1;
    }
 }
 
 var news_arr=arr.splice(0,4);
 var oUl=document.getElementsByClassName("swiper-wrapper")[0];
 function renderPage(data) {
    console.log(data);
    oUl.innerHTML = "";
    data.forEach(function (ele, index, self) {
        oUl.innerHTML+=' <div class="news-slider__item swiper-slide" style="margin-left:20px"><div class="card"><a href="'+ele.href+'" class="news__item"><div class="news__img"><img src="'+
            ele.src+'" alt="news" /></div><hr style="background-color: #4b224a;border: 0;height: 2px;"><div class="news-date"><span class="news-date__title">'+ele.name+': '+ele.subtitle+'</span></div><div class="news__title"><span style="font-size: 19px;">'+ele.name+': '+ele.subtitle+'</div><p class="news__txt">'+ele.short_introduction+'</p></a></div></div>';
        console.log('True');
     });
}
console.log(arr[0])
renderPage(news_arr);

    //数字自增到某一值动画参数（目标元素,自定义配置） 
    function NumAutoPlusAnimation(targetEle, options) { 
   
     /*可以自己改造下传入的参数，按照自己的需求和喜好封装该函数*/ 
     //不传配置就把它绑定在相应html元素的data-xxxx属性上吧 
     options = options || {}; 
   
     var $this = document.getElementById(targetEle), 
      time = options.time || $this.data('time'), //总时间--毫秒为单位 
      finalNum = options.num || $this.data('value'), //要显示的真实数值 
      regulator = options.regulator || 100, //调速器，改变regulator的数值可以调节数字改变的速度 
   
      step = finalNum / (time / regulator),/*每30ms增加的数值--*/ 
      count = 0, //计数器 
      initial = 0; 
   
     var timer = setInterval(function() { 
   
      count = count + step; 
   
      if(count >= finalNum) { 
       clearInterval(timer); 
       count = finalNum; 
      } 
      //t未发生改变的话就直接返回 
      //避免调用text函数，提高DOM性能 
      var t = Math.floor(count); 
      if(t == initial) return; 
   
      initial = t; 
   
      $this.innerHTML = initial; 
     }, 30); 
    } 
   
    NumAutoPlusAnimation("dataset", { 
     time: time_duration, 
     num: num_data, 
     regulator: 50 
    }) 
 
  NumAutoPlusAnimation("api", { 
   time: time_duration, 
   num: num_api, 
   regulator: 50 
  }) 


  NumAutoPlusAnimation("contributors", { 
   time: time_duration, 
   num: num_contributor, 
   regulator: 50 
  }) 
  
  window.onscroll = function() {
     scrollFunction()
 };
   
var bottom=document.getElementById('statistic').offsetTop;
var top_value=document.getElementById('sec-start').offsetTop;
var distance=bottom-top_value;
  function scrollFunction() {
    
    console.log(document.getElementById('statistic').offsetTop)
        console.log(document.getElementById('sec-start').offsetTop)
        
console.log(document.documentElement.scrollTop)
      if (document.documentElement.scrollTop > distance+250 && document.documentElement.scrollTop < distance+300) {
        NumAutoPlusAnimation("dataset", { 
     time: time_duration, 
     num: num_data, 
     regulator: 50 
    }) 
 
  NumAutoPlusAnimation("api", { 
   time: time_duration, 
   num: num_api, 
   regulator: 50 
  }) 


  NumAutoPlusAnimation("contributors", { 
   time: time_duration, 
   num: num_contributor, 
   regulator: 50 
  }) 
 }
  }
   </script> 

<% if (page.total > 1) { %>
<%- partial('_partial/paging') %>
<% } %>
